.title {
    font-size: 1.5rem;
}

.subtitle {
    color: gray;
    font-size: .9rem;
    font-style: italic;
}

.domain-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.domain-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.domain-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.domain-price {
    display: flex;
    flex-wrap: wrap;
}

.ask-price {
    min-width: 80px;
}

.compare-price {
    color: darkred;
    font-size: .625rem;
}


.domain-item:nth-child(odd) {
    background-color: #ffce3d54;
}

.mb-4 {
    margin-bottom: 2rem;
}