.title {
    font-size: 1.5rem;
}

.subtitle {
    color: gray;
    font-size: .9rem;
    font-style: italic;
}

.domain-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.domain-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.domain-item:nth-child(odd) {
    background-color: #f9f9f936;
}

.mb-4 {
    margin-bottom: 2rem;
}