/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
   background-color: rgb(255 252 230);
   color:  rgb(0 1 0);
   font-family: Helvetica, sans-serif;
}

footer {
    text-align: center;
}

.appbar {
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
}
