/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
   background-color: #0b0905;
   color:  #d9d9d9;
   font-family: Helvetica, sans-serif;
}

a {
    color: 
}

footer {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #3b3935;
    margin-top: 4rem;
}

.version {
    font-size: .8rem;
    color: #3b3935; 
    font-style: italic;
}

.appbar {
    padding: 1rem 0;
}

.appname {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.palm-image {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.featured-domains {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


p {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0 0 1rem 0;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
}

.nav-item a {
    color: #f95305;
    text-decoration: underline;
}

.nav-item a:hover {
    text-decoration: none;
}

a {
    color: #f95305;
}

a:hover {
    text-decoration: none;
    color: #ac3600;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-full {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}