/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    
}

footer {
    text-align: center;
}

.appbar {
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
}
