{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'domains/css/index.css' %}">
{% endblock %}

{% block title %}Domains Index{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <h2 class="title">Domains</h2>
        <p class="subtitle">Explore all domain names.</p>
    <div>

    <ul class="domain-list">
        {% for domain in domains %}
            <li>
                {{ domain.name }} - ${{ domain.ask_price }}
                {% if domain.compare_price %}
                    <s>${{ domain.compare_price }}</s>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}