{% extends "base.html" %}
{% load static %}
{% load price_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'domains/css/index.css' %}">
{% endblock %}

{% block title %}Domains Index{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-4">
        <h2 class="title">Domains</h2>
        <p class="subtitle">Explore all domain names.</p>
    </div>

    <ul class="domain-list">
        <div class="domain-list-header">
            <div>Name</div>
            <div>Ask Price</div>
        </div>
        {% for domain in domains %}
            <li class="domain-item">
                <div class="domain-name">
                {{ domain.name }}
                </div>
                
                <div class="domain-price">
                    <div class="ask-price">${{ domain.ask_price|format_price }}</div>
                    <div class="compare-price">
                    {% if domain.compare_price %}
                        <s>${{ domain.compare_price|format_price }}</s>
                    {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}